.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: aqua;
    padding: 10px;
  /*  gap: 20px 50px;*/
  /*  column-gap: 50px;
    row-gap: 20px;*/
}
.grid-item{
    background-color: aliceblue;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
.item1{
 /*   grid-column-start: 1;
    grid-column-end: 4;*/
 /*   grid-row-start: 8;
    grid-row-end: 3;*/
}
.a20{
    grid-column-start: 2;
    grid-column-end: 7;
}
.a8{
    grid-row-start: 2;
    grid-row-end: 6;
}
.a9{
    grid-row-start: 2;
    grid-row-end: 4;
}
.a11{
    grid-row-start: 2;
    grid-row-end: 4;
}
.a12{
    grid-row-start: 2;
    grid-row-end: 4;
}
.a7{
    grid-row-start: 2;
    grid-row-end: 2;
}
.a13{
    grid-row-start: 3;
    grid-row-end: 3;
}

.a19{
    grid-row-start: 6;
    grid-row-end: 6;
}
.a10{
    grid-row-start: 2;
    grid-row-end: 2;
}
.a11{
    grid-row-start: 2;
    grid-row-end: 6;
}
.a12{
    grid-row-start: 2;
    grid-row-end: 6;
}

.a15{
    grid-row-start: 3;
    grid-row-end: 6;
}
.a18{
    grid-row-start: 4;
    grid-row-end: 6;
}
.a14{
    grid-row-start: 4;
    grid-row-end: 4;
}
.a17{
    grid-row-start: 5;
    grid-row-end: 5;
}


.a21{
    grid-row-start: 7;
    grid-row-end: 7;
}
.a27{
    grid-row-start: 8;
    grid-row-end: 8;
}
.a31{
    grid-row-start: 9;
    grid-row-end: 9;
}
.a34{
    grid-row-start: 10;
    grid-row-end: 10;
}
.a22{
    grid-row-start: 7;
    grid-row-end: 7;
}
.a23{
    grid-row-start: 7;
    grid-row-end: 9;
}
.a24{
    grid-row-start: 7;
    grid-row-end: 11;
}
.a25{
    grid-row-start: 7;
    grid-row-end: 11;
}
.a26{
    grid-row-start: 7;
    grid-row-end: 7;
}
.a28{
    grid-row-start: 8;
    grid-row-end: 8;
}
.a29{
    grid-row-start: 8;
    grid-row-end: 8;
}

.a32{
    grid-row-start: 9;
    grid-row-end: 9;
}
.a35{
    grid-row-start: 10;
    grid-row-end: 10;
}

.a33{
    grid-row-start: 9;
    grid-row-end: 11;
}
.a36{
    grid-row-start: 10;
    grid-row-end: 10;
}
body{
    size: 500px;
    font-size: small;
}